.progreessBar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}
.progress{
    border-top: 5px solid grey;
    font-size: 2rem;
    width:100%;
    text-align: center;
}
.active{
    border-color: orange ;
}

@media(max-width:768px){
    .progress{
        font-size: 1.5rem;
    }
}
@media(max-width:500px){
    .progress{
        font-size: 1.3rem;
    }
}