
.app__grid{
  display: flex;
  min-height: 100vh;
  height:100%;
  flex-direction: column;
}
header{
  background-color: #203040;
  color:#ffffff;
  height: 5rem;
}
main{
  flex: 1;
  grid-area: main;
  background-color: #ffffff;
  padding: 10px;
}
footer{
  height: 5rem;
  grid-area: footer;
  background-color: #203040;
}
a{
  text-decoration: none;
  color:#000;
}
.app__headerLinks a{
  color:#fff;
}
.app__headerLabel a{
  color:#fff;
}
.app__row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.app__headerLabel{
  font-size: 3rem;
  font-weight: bolder;
  padding: 10px;
}
.app__headerLinks{
  font-size: 1.2rem;
}
.app__headerLinks a{
  padding: 1rem;
}
.footer{
  justify-content: center;
  color: #ffff;
}
.main{
  align-items: flex-start;
  justify-content: space-evenly;
}