
.app__grid{
  display: flex;
  min-height: 100vh;
  height:100%;
  flex-direction: column;
}
header{
  background-color: #203040;
  color:#ffffff;
  height: 5rem;
}
main{
  flex: 1;
  background-color: #ffffff;
  padding: 10px;
}
footer{
  height: 5rem;
  background-color: #203040;
}
a{
  text-decoration: none;
  color:#000;
}
.app__headerLinks a{
  color:#fff;
}
.app__headerLabel a{
  color:#fff;
}
.app__row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.app__headerLabel{
  font-size: 3rem;
  font-weight: 900;
  padding: 10px;
}
.app__headerLinks{
  font-size: 1.2rem;
}
.app__headerLinks a{
  padding: 1rem;
}
.footer{
  justify-content: center;
  color: #ffff;
}
.main{
  align-items: flex-start;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.app__clearBtn{
  padding:1rem;
  background-color:lightcoral;
  color:white;
  border: none;
  border-radius: 10px;
}
.numberOfItems{
  padding:0.2rem 0.7rem;
  color: #fff;
  background-color: #f02020;
  border-radius: 50%;
  font-size: 1.4rem;
  font-weight: 900;
}
@media (max-width:500px){
  .app__headerLabel{
    font-size: 2.2rem;
  }
}